html{
    font-size: 100%;
}
body{
    font-family: "Open Sans";
    margin: 0; padding: 0; box-sizing: border-box;
   
    
}

:root{
    --Violet: hsl(257, 40%, 49%);
    --Soft-Magenta: hsl(300, 69%, 71%);
}
/* .................container here from start...................... */

.container{
   background: var(--Violet);
   font-family: 'Poppins', sans-serif;
   padding: 50px 50px 20px 50px;
}


header .logo{
    width: 120px;
    
}
header .logo img{
    width: 100%;
   
}
/* ......................main..................................... */
main{
    display: flex;
    margin-top: 40px;
    height: auto;
    position: relative;
    transition: all 0.3s ease-in;
   
 }
.content{
    flex: 1;
}
.left{
    height: 450px;
}
.left img{
    width: 100%;
    height: 100%;
}
.right{
   
    margin-left: 50px;
    color: white;
}
.right h2{
    font-size: 47px;
    font-weight: 400;
    

    
}
.right p{
    margin-top: -10px;
    font-size: 19.5px;
    
}
.right .btn{
   
    padding: 15px 90px;
    border-radius: 30px;
    border: 1px solid white;
    color: var(--Violet);
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    transition: all 0.3s ease-in;

    
}
.right .btn:hover{
    background: var(--Soft-Magenta);
    outline: none;
    border: none;
}
main .left img{
    width: 100%;
}
/* ............................footer........................ */
footer ul{
    display: flex;
    justify-content: flex-end;
    transform: translateY(-50px);
    
    
}
footer ul li{
    margin-right: 15px;
    list-style: none;
    border: 1px solid white;
    border-radius: 50%;
    padding: 8px;
    transition: all 0.3s ease-in;
}
footer ul li{
    color: white;
}
footer ul li:hover{
    color: var(--Soft-Magenta);
    border: 1px solid var(--Soft-Magenta);
}



.attribution { font-size: 14px; text-align: center; }
.attribution a { color: white; }

@media (max-width:375px){
    .right h2{
        font-size: 20px;
        
    }
    .right p{
    font-size: 14px;
    }
    .btn{
        width: 100%;
    }
    .right{
        width: 100%;
           
    margin-left: 0px;
    }
}
@media (max-width:992px) {
    
    main{
        flex-direction: column;
    }
    .right{
        color: white;
        position: relative;
    }
    
    footer ul{
        justify-content: center;
    }
    .btn{
        margin-bottom: 90px;
    }
    .container::before{
        background-size: cover;
        position: absolute;
        background: url(/images/bg-mobile.svg);
        top: 0;
        left: 0;
        height: 70vh;
        width: 100%;
    }

}
